PUBLIC_HUBSPOT_PORTAL_ID=50956550
PUBLIC_HUBSPOT_NEWSLETTER_FORM_GUID=525a455c-d458-4c90-968f-2863847c3735
PUBLIC_HUBSPOT_CONTACT_FORM_GUID=96ece46e-04cb-47fc-bb17-2a8b196f8986
PUBLIC_POSTHOG_KEY=posthog_key_here
